<p id="notice"><%= notice %></p>

<p>
  <strong>Done:</strong>
  <%= check_box_tag :topic_done, "", @topic.done %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @topic.topicduration %>
</p>

<p>
  <strong>Course:</strong>
  <%= link_to @topic.course.name, @topic.course %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

<h2>Notes</h2>
<ul>
  <% @topic.notes.each do |note| %>
  <li>
    <h3><%= note.name %></h3>
    <blockquote><%= note.body %></blockquote>
  </li>
  <% end %>
</ul>

<%= form_for([@topic, @topic.notes.build]) do |f| %>
<p>
  <%= f.text_field :name, placeholder: "Enter Name" %>
</p>
<p>
  <%= f.email_field :email, placeholder: "Enter Email" %>
</p>
<p>
  <%= f.text_area :body, rows: 8, cols: 50 %>
</p>
<p>
  <%= f.submit "Add Notes"%>
</p>
<% end %>
