<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @course.author %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course.duration %>
</p>

<p>
  <strong>Level:</strong>
  <%= @course.level %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @course.rating %>
</p>

<p>
  <strong>Released:</strong>
  <%= @course.released %>
</p>

<h2>Table of Contents</h2>
<ul>
  <% @course.topics.each do |topic| %>
    <li>
      <%= check_box_tag "topic_done_#{topic.id}", "", topic.done %>
      <%= link_to topic.title, topic %>
    </li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
